
/* colors */
$white: #fff;
$green-v1: #39b54a;
$green-v2: #319b3f;
$black: #000;
$black-v1: #222222;
$black-v2: #181818;
$gray-v1: #f3f6f8;
$gray-v2: #666666;
$gray-v3: #e1e1e1;
$gray-v4: #d3d3d3;
$gray-v5: #f4f5f9;
$gray-v6: #9d9d9d;
$gray-v7: #dadddf;

/* links */
$link-color: $green-v1;
$link-hover-color: $green-v1;
