/* Base style */

*,
*:after,
*:before {
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
html,
body {
    background: #{$white};
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;

    /* media for rems styles */
    @media (max-width: 1400px) {
        font-size: 15px;
    }

    @media (max-width: 400px) {
        font-size: 13px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 700;
}

p,
blockquote {
    font-size: 0.8125rem;
}

strong {
    font-weight: 700;
}

a {
    color: $link-color;
    transition: all .3s ease-in-out;
    font-size: 0.8125rem;

    &:hover {
        text-decoration: none;
        color: $link-color;
    }
}

button {
    background: none;
    border: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
